// app global css in Stylus form
@font-face {
  font-family: trashhand;
  src: url(./fonts/TrashHand.ttf);
}
.trashhand {
  font-family: 'trashhand';
}
.bluec {
    color: #3752a5;
    text-align: center;
}
@font-face {
  font-family: neutrad_b;
  src: url(./fonts/NeutraDisp-light.otf);
}
.neutrad_b {
  font-family: 'neutrad_b';
}
@font-face {
  font-family: neutrad_l;
  src: url(./fonts/NeutraDisp-light.otf);
}
.neutrad_l {
  font-family: 'neutrad_l';
}