// app global css in Stylus form

// global bg-color
body{
  background-color: #F8F8F8;
}
//background color
.bg-greyy {
  background-color: #424242;
  height: 170px;
}
// Font
@font-face {
  font-family: HeyLucky;
  src: url(./fonts/HeyLucky.ttf);
}
.font1 {
  font-family: 'HeyLucky';
}
@font-face {
  font-family: NeutraText;
  src: url(./fonts/NeutraText-BookItalic.otf);
}
.font2 {
  font-family: 'NeutraText';
}
@font-face {
  font-family: AnthologyRegularDemo;
  src: url(./fonts/AnthologyRegularDemo.ttf);
}
.font3 {
  font-family: 'AnthologyRegularDemo';
}

.fusual {
    font-family: 'NeutraText';
    color: #3752a5;
    font-size: 20px;
    margin-bottom:-15px;
    margin-left:30px
}
.fusual2 {
    font-family: 'NeutraText';
    color: #3752a5;
    font-size: 20px;
    margin-bottom:0px;
    margin-left:15px
}

//font Size

.fs1{
  font-size: 20px;
}
.fs2{
  font-size: 25px;
}
.fs3{
  font-size: 125px;
}
.fs4{
  font-size: 50px;
}

//color

.blue {
    color: #3752a5;
}
.orange {
  color: #F5A623;
}
.cyan {
  color: #76C6B8;
}
.dark-blue {
  color: #25326C;
}
.yellow {
  color: #F8E71C;
}
.white {
  color: white;
}
// Align

.ctr {
    text-align: center;
}
.txt-right {
  text-align: right ;
}
.txt-left {
  text-align: left  ;
}

.line20 {
    line-height: 20px;
}
.line40 {
    line-height: 40px;
}
.fbg {
    width: 90%;
    max-width: 300px;
}

//Margin

.pagein {
    margin : 30px
    background-color: #171929
}
.mar20 {
    margin : 20px
}
.mar50 {
    margin : 50px
}

//other

.my-cardreg {
    margin-top:80px
    position: relative;
}


