// app global css in Stylus form

// Font
@font-face {
  font-family: HeyLucky;
  src: url(./fonts/HeyLucky.ttf);
}
.font1 {
  font-family: 'HeyLucky';
}
@font-face {
  font-family: NeutraText;
  src: url(./fonts/NeutraText-BookItalic.otf);
}
.font2 {
  font-family: 'NeutraText';
}
@font-face {
  font-family: AnthologyRegularDemo;
  src: url(./fonts/AnthologyRegularDemo.ttf);
}
.font3 {
  font-family: 'AnthologyRegularDemo';
}
.fusual {
    font-family: 'NeutraText';
    color: #3752a5;
    font-size: 20px;
    margin-bottom:-15px;
    margin-left:30px
}
.fusual2 {
    font-family: 'NeutraText';
    color: #3752a5;
    font-size: 20px;
    margin-bottom:0px;
    margin-left:15px
}

// Align

.blue {
    color: #3752a5;
}
.ctr {
    text-align: center;
}
.line20 {
    line-height: 20px;
}
.line40 {
    line-height: 40px;
}
.fbg {
    width: 90%;
    max-width: 300px;
}

//Margin

.pagein {
    margin : 30px
    background-color: #171929
}
.mar20 {
    margin : 20px
}

//other

.my-cardreg {
    margin-top:80px
    position: relative;
}
